/lib/.config
/user/wsc_upnp/libupnp-1.4.6/Makefile
/user/wsc_upnp/libupnp-1.4.6/config.status
/user/wsc_upnp/libupnp-1.4.6/docs/dist/Makefile
/user/wsc_upnp/libupnp-1.4.6/ixml/Makefile
/user/wsc_upnp/libupnp-1.4.6/ixml/doc/Makefile
/user/wsc_upnp/libupnp-1.4.6/libtool
/user/wsc_upnp/libupnp-1.4.6/threadutil/Makefile
/user/wsc_upnp/libupnp-1.4.6/upnp/Makefile
/user/wsc_upnp/libupnp-1.4.6/upnp/doc/Makefile
/etc/compile-date
/etc/scripts/config.sh
lib/.config
user/wsc_upnp/libupnp-1.4.6/Makefile
user/wsc_upnp/libupnp-1.4.6/config.status
user/wsc_upnp/libupnp-1.4.6/docs/dist/Makefile
user/wsc_upnp/libupnp-1.4.6/ixml/Makefile
user/wsc_upnp/libupnp-1.4.6/ixml/doc/Makefile
user/wsc_upnp/libupnp-1.4.6/libtool
user/wsc_upnp/libupnp-1.4.6/threadutil/Makefile
user/wsc_upnp/libupnp-1.4.6/upnp/Makefile
user/wsc_upnp/libupnp-1.4.6/upnp/doc/Makefile
etc/compile-date
etc/scripts/config.sh
