*.dep
.sgbuilt_user
config.status
romfs
fulldump
filesystem
/lib/.config
/etc/compile-date
/etc/scripts/config.sh
/etc/Wireless/RT2860/RT2860.dat
/etc/Wireless/rf.bin
/etc/default/RT2860_default_novlan
/user/wsc_upnp/libupnp-1.4.6/libtool
/user/wsc_upnp/libupnp-1.4.6/Makefile
/user/wsc_upnp/libupnp-1.4.6/config.status
/user/wsc_upnp/libupnp-1.4.6/docs/dist/Makefile
/user/wsc_upnp/libupnp-1.4.6/ixml/Makefile
/user/wsc_upnp/libupnp-1.4.6/ixml/doc/Makefile
/user/wsc_upnp/libupnp-1.4.6/libtool
/user/wsc_upnp/libupnp-1.4.6/threadutil/Makefile
/user/wsc_upnp/libupnp-1.4.6/upnp/Makefile
/user/wsc_upnp/libupnp-1.4.6/upnp/doc/Makefile
/user/ppp/Makefile
/user/ppp/chat/Makefile
/user/ppp/pppd/Makefile
/user/ppp/pppd/plugins/Makefile
/user/ppp/pppd/plugins/pppoatm/Makefile
/user/ppp/pppd/plugins/pppol2tp/Makefile
/user/ppp/pppd/plugins/pptp/Makefile
/user/ppp/pppd/plugins/radius/Makefile
/user/ppp/pppd/plugins/rp-pppoe/Makefile
/user/ppp/pppstats/Makefile
/user/dropbear/Makefile
/user/busybox/docs/busybox.net/BusyBox.html
/user/busybox/include/NUM_APPLETS.h
/user/busybox/include/bbconfigopts_bz2.h
/user/radvd/config.status
