*.dep
*.deps
*.pc
*.orig
*.rej
.sgbuilt_user
.libs
libtool
romfs
autom4te.cache
config.h.in~
config.log
config.status
filesystem
fulldump
/etc/compile-date
/etc/default/RT2860_default_novlan
/etc/scripts/config.sh
/etc/Wireless/rf.bin
/etc/Wireless/RT2860/RT2860.dat
/lib/.config
/lib/lib
/lib/include_shared
/lib/libcurl/curl-config
/lib/libcurl/docs/examples/Makefile
/lib/libcurl/docs/libcurl/Makefile
/lib/libcurl/docs/Makefile
/lib/libcurl/include/curl/Makefile
/lib/libcurl/include/Makefile
/lib/libcurl//lib/curl_config.h
/lib/libcurl/lib/curl_config.h
/lib/libcurl/libcurl.pc
/lib/libcurl//lib/Makefile
/lib/libcurl/lib/stamp-h1
/lib/libcurl/libtool
/lib/libcurl/Makefile
/lib/libcurl/*/Makefile
/lib/libcurl/*/*/Makefile
/lib/libcurl/packages/AIX/Makefile
/lib/libcurl/packages/AIX/RPM/Makefile
/lib/libcurl/packages/EPM/curl.list
/lib/libcurl/packages/EPM/Makefile
/lib/libcurl/packages/Linux/Makefile
/lib/libcurl/packages/Linux/RPM/Makefile
/lib/libcurl/packages/Makefile
/lib/libcurl/packages/Solaris/Makefile
/lib/libcurl/packages/vms/Makefile
/lib/libcurl/packages/Win32/cygwin/Makefile
/lib/libcurl/packages/Win32/Makefile
/lib/libcurl/src/curl_config.h
/lib/libcurl/src/Makefile
/lib/libcurl/tests/configurehelp.pm
/lib/libcurl/tests/data/Makefile
/lib/libcurl/tests/libtest/Makefile
/lib/libcurl/tests/Makefile
/lib/libcurl/tests/server/Makefile
/lib/libcurl/tests/unit/Makefile
/lib/libevent/autom4te.cache
/lib/libevent/autom4te.cache/output.0
/lib/libevent/autom4te.cache/output.1
/lib/libevent/autom4te.cache/requests
/lib/libevent/autom4te.cache/traces.0
/lib/libevent/autom4te.cache/traces.1
/lib/libevent/config.h
/lib/libevent/config.h.in~
/lib/libevent/configure
/lib/libevent/include/event2/event-config.h
/lib/libevent/include/Makefile
/lib/libevent/libevent_openssl.pc
/lib/libevent/libevent.pc
/lib/libevent/libevent_pthreads.pc
/lib/libevent/libtool
/lib/libevent/Makefile
/lib/libevent/*/Makefile
/lib/libevent/Makefile.in
/lib/libevent/sample/Makefile
/lib/libevent/stamp-h1
/lib/libevent/test/Makefile
/lib/libiconv/tests/Makefile
/lib/libiconv/srclib/Makefile
/lib/libiconv/src/Makefile
/lib/libiconv/lib/config.h
/lib/libiconv/lib/Makefile
/lib/libiconv/config.h
/lib/libiconv/configure
/lib/libiconv/stamp-h1
/lib/libiconv/Makefile
/lib/libiconv/libcharset/libtool
/lib/libiconv/libtool
/lib/libiconv/preload/libtool
/lib/libgmp/stamp-h1
/user/busybox/*/Config.in
/user/busybox/docs/busybox.net/BusyBox.html
/user/busybox/include/bbconfigopts_bz2.h
/user/busybox/include/NUM_APPLETS.h
/user/chillispot/chillispot-1.1.0/stamp-h1
/user/dropbear/Makefile
/user/ethtool/autom4te.cache
/user/ethtool/autom4te.cache/output.0
/user/ethtool/autom4te.cache/output.1
/user/ethtool/autom4te.cache/requests
/user/ethtool/autom4te.cache/traces.0
/user/ethtool/autom4te.cache/traces.1
/user/ntfs-3g/stamp-h1
/user/openssl/apps/CA.pl
/user/openssl/apps/CA.pl.bak
/user/openssl/Makefile
/user/openssl/Makefile.bak
/user/openssl/tools/c_rehash
/user/openssl/tools/c_rehash.bak
/user/ppp/chat/Makefile
/user/ppp/Makefile
/user/ppp/*/Makefile
/user/ppp/pppd/Makefile
/user/ppp/pppd/plugins/Makefile
/user/ppp/pppd/plugins/*/Makefile
/user/ppp/pppd/plugins/pppoatm/Makefile
/user/ppp/pppd/plugins/pppol2tp/Makefile
/user/ppp/pppd/plugins/pptp/Makefile
/user/ppp/pppd/plugins/radius/Makefile
/user/ppp/pppd/plugins/rp-pppoe/Makefile
/user/ppp/pppstats/Makefile
/user/radvd/aclocal.m4
/user/radvd/autom4te.cache
/user/radvd/autom4te.cache/output.0
/user/radvd/autom4te.cache/output.1
/user/radvd/autom4te.cache/requests
/user/radvd/autom4te.cache/traces.0
/user/radvd/autom4te.cache/traces.1
/user/radvd/config.h
/user/radvd/config.status
/user/radvd/configure
/user/radvd/device.c
/user/radvd/Makefile.in
/user/radvd/scanner.c
/user/radvd/stamp-h1
/user/transmission/autom4te.cache
/user/transmission/autom4te.cache/output.0
/user/transmission/autom4te.cache/output.1
/user/transmission/autom4te.cache/requests
/user/transmission/autom4te.cache/traces.0
/user/transmission/autom4te.cache/traces.1
/user/transmission/configure
/user/wsc_upnp/libupnp-1.4.6/aclocal.m4
/user/wsc_upnp/libupnp-1.4.6/autom4te.cache
/user/wsc_upnp/libupnp-1.4.6/autom4te.cache/output.0
/user/wsc_upnp/libupnp-1.4.6/autom4te.cache/output.1
/user/wsc_upnp/libupnp-1.4.6/autom4te.cache/requests
/user/wsc_upnp/libupnp-1.4.6/autom4te.cache/traces.0
/user/wsc_upnp/libupnp-1.4.6/autom4te.cache/traces.1
/user/wsc_upnp/libupnp-1.4.6/config.status
/user/wsc_upnp/libupnp-1.4.6/configure
/user/wsc_upnp/libupnp-1.4.6/docs/dist/Makefile
/user/wsc_upnp/libupnp-1.4.6/ixml/doc/Makefile
/user/wsc_upnp/libupnp-1.4.6/ixml/Makefile
/user/wsc_upnp/libupnp-1.4.6/libtool
/user/wsc_upnp/libupnp-1.4.6/Makefile
/user/wsc_upnp/libupnp-1.4.6/*/Makefile
/user/wsc_upnp/libupnp-1.4.6/*/*/Makefile
/user/wsc_upnp/libupnp-1.4.6/stamp-h1
/user/wsc_upnp/libupnp-1.4.6/threadutil/Makefile
/user/wsc_upnp/libupnp-1.4.6/upnp/doc/Makefile
/user/wsc_upnp/libupnp-1.4.6/upnp/Makefile
/user/zebra/autom4te.cache
/user/zebra/autom4te.cache/output.0
/user/zebra/autom4te.cache/requests
/user/zebra/autom4te.cache/traces.0
/user/zebra/config.h.in~
/user/zebra/stamp-h1
