/****** Controls ******/
select
{
	font-size: 13px;
}

select.mid
{
	width: 192px;
}

select.half
{
	width: 94px;
}

select.wide
{
	width: 256px;
}

select.short
{
	width: 48px;
}

input.mid
{
	width: 192px;
}

input.normal
{
	width: 128px;
}

input.wide
{
	width: 256px;
}

input.half
{
	width: 94px;
}

input.short
{
	width: 48px;
}

input.small
{
	width: 36px;
}

input.xsmall
{
	width: 24px;
}
