    lock directory = /var/lock
    lock dir = /var/lock
    syslog = 1
    syslog only = yes
    max log size = 10
    security = share
    name resolve order = lmhosts host wins bcast
    announce version = 4.9
    os level = 200
    domain master = yes
    preferred master = yes
    local master = yes
    wins support = yes
    wins proxy = no
    dns proxy = no
    guest account = nobody
    time server = no
    unix charset = utf8
    dos charset = 866
    load printers = no