menu "Ralink Module"

###########
# Debuging
###########
source "drivers/net/rt_rdm/Kconfig"

#############
# Wire
#############
source "drivers/net/raeth/Kconfig"

#############
# Wireless
#############
config  ASUS_EXT
	bool 
	default n

config  RT2860V2_2850
        bool "Dual Band"
        depends on RALINK_RT2880

choice
        prompt "RF Type"
        depends on RALINK_RT3052
        default RALINK_RT3052_2T2R

        config  RALINK_RT3050_1T1R
        bool "RT3050-1T1R"

        config  RALINK_RT3051_1T2R
        bool "RT3051-1T2R"

        config  RALINK_RT3052_2T2R
        bool "RT3052-2T2R"
endchoice

#source "drivers/net/wireless/rt2860v2_ap/Kconfig"
#source "drivers/net/wireless/rt2860v2_sta/Kconfig"

# split driver in one dir
source "drivers/net/wireless/rt2860v2/rt2860v2_ap/Kconfig"
source "drivers/net/wireless/rt2860v2/rt2860v2_sta/Kconfig"

#######
# USB
#######
source "drivers/usb/dwc_otg/Kconfig"

endmenu

